<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
<script src="js/vendor/modernizr-transitions.js"></script>
<script src="js/vendor/jquery.isotope.min.js"></script>
<script src="js/launchbored.js"></script>
<script src="js/plugins.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
{literal}<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>{/literal}