<div id="top" class="transitions-enabled clearfix">
    <div id="topwrapper" class="transitions-enabled clearfix">
        <div id="logo" class="transitions-enabled clearfix"></div>
        <div id="order">
            <section id="options" class="clearfix" data-option-key="*">
                <ul class="option-set clearfix" >
                    <li id="expandall" class="selected"><img src="images/expand.png"></li>
                </ul>
                
                <ul id="sort-by" class="option-set clearfix not-mobile not-tablet" data-option-key="sortBy">
                    <li><a href="#sortBy=original-order" data-option-value="original-order" class="selected" data><img src="images/original.png"></a></li>
                    <li id="shuffle"><a href='#shuffle'><img src="images/shuffle.png"></a></li>
                </ul>

                <ul id="sort-direction" class="option-set clearfix not-mobile not-tablet" data-option-key="sortAscending">
                    <li><a href="#sortAscending=true" data-option-value="true" class="selected"><img src="images/ascending.png"></a></li>
                    <li><a href="#sortAscending=false" data-option-value="false"><img src="images/descending.png"></a></li>
                </ul>
                
                <form id="filtersearch" action="#">
                    <input type="text" name="search" value="" id="channel" placeholder="search boreds..." autofocus />
                </form>
                
                <ul id="filters" class="option-set clearfix " data-option-key="*">
                    <li><a href="#" data-filter="*" onclick="formReset()" class="selected" ><img src="images/show.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".search"><img src="images/search.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".mail"><img src="images/mail.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".shopping"><img src="images/shop.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".feeds"><img src="images/b_feed.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".news"><img src="images/news.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".learning"><img src="images/learn.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".tech"><img src="images/tech.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".tv"><img src="images/tv.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".videos"><img src="images/video.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".music"><img src="images/music.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".photos"><img src="images/photo.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".social"><img src="images/social.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".games"><img src="images/game.png"></a></li>
                    <li class="not-mobile"><a href="#" data-filter=".kids"><img src="images/kids.png"></a></li>
                </ul>
            </section>
        </div>
    </div>
</div>